<div class="container">
    <div class="row">

        <div class="col-md-12 text-center">
            <br />
            <img src="assets/images/logo.jpg" width="200">
            <br /><br />
        </div>

        <div class="col-md-6 col-md-offset-3" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Prezado,</p>
                    <p>Sua presença foi registrada com sucesso!</p>
                </div>
            </div>
        </div>

    </div>
</div>