<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <div class="text-center">
                <br />
                <img src="assets/images/logo.jpg" width="170">
                <br /><br />
            </div>

            <div class="" *ngIf="loading">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <p>Buscando uma sessão atual...</p>
                        <p>
                            <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </p>
                    </div>
                </div>
            </div>

            <div class="" *ngIf="loadingPost && !mostrarConfirmacao">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <p>Estamos registrando sua presença...</p>
                        <p>
                            <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </p>
                    </div>
                </div>
            </div>

            <div class="" [hidden]="loading || loadingPost">
                <div class="panel panel-default">

                    <div class="panel-heading">Registro de Presença de Sessão</div>

                    <div class="panel-body" *ngIf="this.sessaoAtiva && !mostrarConfirmacao">

                        <p><b>Data:</b> {{sessao?.dt_sessao | date:'dd/MM/yyyy HH:mm'}}</p>
                        <p><b>Tipo de Sessão:</b> {{sessao?.tipo_sessao?.grupo_sessao?.no_tipo_grupo_sessao}}/{{sessao?.tipo_sessao?.no_tipo_sessao}} - Grau {{sessao?.in_grau}}</p>

                        <form name="form" (ngSubmit)="f.form.valid && verificarObreiro()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inputcpf.valid }">
                                <input type="text" class="form-control text-center"
                                       id="nr_cpf"
                                       name="nr_cpf"
                                       placeholder="Informe o número do CPF ou o CIM"
                                       [(ngModel)]="cpf"
                                       autocomplete="off"

                                       #inputcpf
                                       required />
                                <!--<div *ngIf="f.submitted && !inputcpf.valid" class="help-block">Informe o seu CPF</div>-->
                            </div>
                            <!--<div class="form-group">-->
                            <!--<button type="submit" [disabled]="loading" class="btn btn-primary">-->
                            <!--<i class="glyphicon glyphicon-log-in"></i> Registrar-->
                            <!--</button>-->
                            <!--</div>-->
                            <div *ngIf="success" class="alert alert-success">{{success}}</div>
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        </form>
                    </div>

                    <div class="panel-body" *ngIf="!this.sessaoAtiva && !mostrarConfirmacao">
                        <div class="alert alert-danger">Nenhuma sessão ativa.</div>
                    </div>

                    <div class="panel-body" *ngIf="mostrarConfirmacao">

                        <div class="row">

                            <div class="col-md-8">
                                <p>Prezado, <b>{{obreiro.pessoa.no_pessoa}}</b>,</p>
                                <p>Sua presença foi registrada com sucesso!</p>
                                <p>Bem vindo a sessão: <br /> {{sessao?.tipo_sessao?.grupo_sessao?.no_tipo_grupo_sessao}} <br />{{sessao?.tipo_sessao?.no_tipo_sessao}}<br/>Grau {{sessao?.in_grau}}</p>
                                <br />
                                <p>Agradecemos sua presença.<br />Aurora de Brasília</p>
                            </div>
                            <div class="col-md-4">
                                <img src="{{imagemPerfil}}"
                                     onError="this.src='assets/images/profile-default.png'"
                                     class="img-rounded img-thumbnail" />
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div *ngIf="participantes" class="pre-scrollable">
                <b>Lista de Presentes:</b>

                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome do Obreiro</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let participante of participantes.items; let i = index">
                        <td>{{totalParticipantes-(i)}}</td>
                        <td>{{participante.pessoa.no_pessoa}}</td>
                    </tr>
                </table>
            </div>

        </div>






    </div>
</div>